body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
a {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
figcaption{
  text-align: center;
  font-size: 10;
}

#feature-property p {
  margin: 8px auto;
  text-align: center;
  width: 800px;
}
img {
  margin-left:auto;
  margin-right:auto;
}
div {
  float: left;
  text-align: match-parent;
  width: 25%;
  background-color: red;

}